@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  background-color: hsl(234, 29%, 20%);
}
main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  gap: 14px;
  height: 500px;
  /*margin-left: 150px;*/
  align-items: center;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 20px;
}
.content h1 {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.content p {
  font-size: 16px;
}

.content ul ol {
  padding-left: 2rem;
  margin-top: 15px;
  background-image: url(./newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg);
  background-position: 0 0;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

main .photo {
  background-image: url(./newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-desktop.svg);
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 0 0 7px;
  box-shadow: 3px 1px 1px #cccccc;
}

button {
  font-weight: 700;
  background-color: hsl(235, 18%, 26%);
  border: 0;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 14px;
  border-radius: 7px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.mail-address {
  font-size: 12px;
  font-weight: 700;
}

.my-email {
  padding: 10px;
  border-radius: 5px;
  color: hsl(231, 7%, 60%);
}