

.card {
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;

  &--header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $card-border-color;
  }

  &--body {
    padding: 1rem 1.5rem;
  }
}
